h1 {
  font-family: serif;
  font-size: 4em;
  text-align: center;
}
h2 {
  font-family: serif;
  font-size: 2.5em;
  text-align: center;
}
h3 {
  font-family: serif;
  font-size: 2em;
  text-align: center;

}
#jazzy-name {
  color: #141011;
  font-style: italic;
}
body {
  background-color: #fff;
  background-image: url(http://i.imgur.com/TWRI2SA.jpg);
  background-position: center;
}
p {
  font-family:serif;
  font-size: 1.7em;
  text-indent: 1em;
  margin-top: 10px;
}
p.offset {
  margin: 0 10em 0 10em;
}
img.smack-in-the-middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.style {
  font-family: serif;
  color: #141011;
  text-align: center;
  font-size: 1.7em
}
#jazzy-words {
  color:#141011;
  font-family: serif;
  text-align: center;
  font-size: 1.7em;
  font-style: oblique;
}
